/* .ComparePanel {
	overflow-x: hidden;
	padding: 2em 0;
} */

.Compare-Header {
	display: grid;
	grid-template-columns: auto max-content;
	margin: 0 0 1em;
	padding: 0 0 0 1em;
}

.Compare-Header__title {
	margin: 0;
	line-height: 1.4;
}

.Compare-Header__byline {
	font-size: 0.9em;
	margin: 0 0 0.5em;
}
